@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700&display=swap");
header {
  padding: 8px 0;
  position: relative;
  z-index: 9999;
}
header.dark {
  background: black;
  color: white;
}
header.dark .line .info .icon_menu svg {
  fill: white;
}
header .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .line .logo img {
  width: 100px;
}
header .line .logo svg {
  width: 70px;
}
header .line .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
header .line .links .link {
  font-size: 17px;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
header .line .links .link:hover, header .line .links .link.active {
  color: #4f9ed6 !important;
}
header .line .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
header .line .info .lang {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}
header .line .info .lang img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
header .line .info .lang span {
  font-weight: 500;
}
header .line .info .btn_contact {
  background: #4f9ed6;
  color: white !important;
  padding: 7px 25px;
  border-radius: 50px;
}
header .line .info .dropdown_profile .img_profile {
  border: none;
  background-color: transparent;
}
header .line .info .dropdown_profile .img_profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
header .line .info .dropdown_profile .dropdown-menu li {
  text-align: start !important;
}
header .line .info .dropdown_profile .dropdown-menu li .btn_logout {
  color: rgb(224, 53, 6) !important;
}
header .line .info .icon_menu {
  display: none;
}

@media (max-width: 991px) {
  header {
    padding: 8px 0 4px;
  }
  header .line .logo img {
    width: 85px;
  }
  header .line .logo svg {
    width: 50px;
  }
  header .line .links {
    display: none;
  }
  header .line .info {
    gap: 15px;
  }
  header .line .info .lang {
    display: none;
  }
  header .line .info .btn_outline {
    display: none;
  }
  header .line .info .icon_menu {
    cursor: pointer;
    display: block;
  }
  header .line .info .icon_menu svg {
    width: 30px;
    fill: black;
  }
}
.overflow {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.393);
  z-index: 998;
  display: none;
}
.overflow.active {
  display: block;
}

.menu_mobile {
  padding: 20px;
  color: rgb(18, 20, 27);
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 9999;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.menu_mobile.active {
  left: 0;
}
.menu_mobile .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
.menu_mobile .head img {
  width: 80px;
}
.menu_mobile .head svg {
  width: 70px;
}
.menu_mobile .head i {
  font-size: 22px;
  cursor: pointer;
}
.menu_mobile .links .link {
  font-size: 20px;
  font-weight: 500;
  display: block;
  margin-bottom: 15px;
  text-align: center;
  padding: 15px;
  border: 1px dashed rgb(209, 209, 209);
}
.menu_mobile .links .link svg {
  width: 17px;
  color: gray;
}
.menu_mobile .links .link.active {
  color: #4f9ed6 !important;
}
.menu_mobile .links .link_list {
  position: relative;
}
.menu_mobile .links .link_list:hover .list {
  opacity: 1;
  z-index: 100;
  top: 60px;
}
.menu_mobile .links .link_list .list {
  position: absolute;
  top: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: white;
  font-weight: 600;
  padding: 8px 10px;
  border-radius: 5px;
  width: 170px;
  border: 1px solid #e2e2e2;
  opacity: 0;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.menu_mobile .links .link_list .list .item {
  display: block;
  font-weight: 600;
  color: #37373c !important;
}
.menu_mobile .links .link_list .list .item:hover {
  color: #4f9ed6 !important;
}
.menu_mobile .links .link_list .list .item:not(:last-child) {
  margin-bottom: 10px;
}
.menu_mobile .btn_contact {
  background: linear-gradient(144deg, #405fff, #5b42f3 50%, #00ddeb);
  color: white !important;
  font-weight: 500;
  border: none;
  padding: 6px 20px;
  border-radius: 6px;
  font-size: 15px;
  margin-top: 10px;
  display: inline-block;
}

.secound_hero {
  height: 250px;
}
.secound_hero .container {
  height: 100%;
}
.secound_hero .container .content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.secound_hero .container .content h2 {
  font-size: 40px;
}
.secound_hero .container .content p a:last-child {
  color: #4f9ed6 !important;
}

footer {
  padding: 40px 0 10px;
  background-color: rgb(4, 5, 9);
  color: white;
}
footer .line {
  margin-bottom: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .line .logo img {
  width: 90px;
}
footer .line .desc {
  font-size: 15px;
  line-height: 1.5;
  color: gray;
  margin-bottom: 0;
}
footer .line .btn_about {
  font-size: 17px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
footer .line .btn_about span {
  width: 35px;
  height: 35px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid white;
}
footer .line .btn_about span i {
  color: #4f9ed6;
  font-size: 15px;
}
footer .line h4 {
  margin-bottom: 20px;
  font-size: 23px;
}
footer .line .contact .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
footer .line .contact .item:not(:last-child) {
  margin-bottom: 12px;
}
footer .line .contact .item h6 {
  margin-bottom: 0;
}
footer .line .contact .item span {
  color: #4f9ed6;
}
footer .line .social_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
footer .line .social_media a i {
  font-size: 14px;
}
footer .bottom_footer {
  padding-top: 15px;
  border-top: 1px solid gray;
}
footer .bottom_footer p {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 15px;
}

@media (max-width: 768px) {
  footer {
    padding: 30px 0 20px;
    text-align: center;
  }
  footer .line {
    margin-bottom: 20px;
  }
  footer .line .logo img {
    width: 140px;
  }
  footer .line .desc {
    font-size: 13px;
  }
  footer .line .contact .item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    gap: 5px;
  }
  footer .line .social_media {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .bottom_footer p {
    font-size: 12px;
  }
}
.hero_section {
  height: calc(100vh - 52px);
}
.hero_section .container {
  height: 100%;
}
.hero_section .line {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.hero_section .line .text .subtitle {
  font-size: 18px;
  color: #4f9ed6;
}
.hero_section .line .text .title {
  font-size: 70px;
  font-weight: 700;
}
.hero_section .line .text .desc {
  font-size: 17px;
  line-height: 1.8;
  color: gray;
}
.hero_section .line .text .btns a,
.hero_section .line .text .btns button {
  padding: 8px 30px;
}
.hero_section .line .image {
  text-align: center;
  -webkit-animation: fade-up 3s linear infinite;
          animation: fade-up 3s linear infinite;
}
.hero_section .line .image img {
  width: 90%;
}
.hero_section .info_icon {
  position: absolute;
  top: 100px;
  left: 100px;
  -webkit-animation: animation-popup-5 3s linear 0s infinite alternate;
          animation: animation-popup-5 3s linear 0s infinite alternate;
}

@media (max-width: 768px) {
  .hero_section .line {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero_section .line .text {
    text-align: center;
  }
  .hero_section .line .text .subtitle {
    font-size: 15px;
  }
  .hero_section .line .text .title {
    font-size: 35px;
  }
  .hero_section .line .text .desc {
    font-size: 14px;
    line-height: 1.5;
  }
  .hero_section .line .text .btns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero_section .line .text .btns a,
.hero_section .line .text .btns button {
    padding: 4px 15px;
  }
}
.about_section .line .text .subtitle {
  font-size: 18px;
  color: #4f9ed6;
}
.about_section .line .text .title {
  font-weight: 700;
}
.about_section .line .text .desc {
  line-height: 1.6;
  color: rgb(104, 104, 104);
}
.about_section .line .text .features .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.about_section .line .text .features .feature:not(:last-child) {
  margin-bottom: 20px;
}
.about_section .line .text .features .feature .icon {
  width: 55px;
  min-width: 55px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #4f9ed6;
  color: white;
  border-radius: 50%;
}
.about_section .line .text .features .feature .icon i {
  font-size: 25px;
}
.about_section .line .text .features .feature .info h5 {
  margin-bottom: 0;
  font-size: 22px;
}
.about_section .line .text .features .feature .info p {
  margin-bottom: 0;
  font-size: 15px;
  color: gray;
}
.about_section .line .image {
  text-align: center;
}
.about_section .line .image img {
  width: 90%;
}

@media (max-width: 678px) {
  .about_section .line .text {
    text-align: center;
  }
  .about_section .line .text .subtitle {
    font-size: 15px;
  }
  .about_section .line .text .title {
    font-size: 23px;
  }
  .about_section .line .text .desc {
    font-size: 14px;
  }
  .about_section .line .text .features .feature {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about_section .line .text .features .feature .icon {
    width: 45px;
    min-width: 45px;
    height: 45px;
  }
  .about_section .line .text .features .feature .info h5 {
    font-size: 18px;
  }
  .about_section .line .text .features .feature .info p {
    font-size: 13px;
  }
}
.courses_section {
  background-color: #f6f9fb;
}
.courses_section .head .title {
  font-weight: 700;
}
.courses_section .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 12px;
  font-size: 18px;
}
.courses_section .filter .btn_filter {
  background-color: transparent;
  border: none;
  font-weight: 600;
  padding-bottom: 0px;
}
.courses_section .filter .btn_filter.active {
  border-bottom: 2px solid #4f9ed6;
}
.courses_section .boxs {
  padding-top: 20px;
}
.courses_section .boxs.grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 30px;
}
.courses_section .boxs .owl-nav {
  display: none;
}
.courses_section .boxs .box {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0 20px 40px rgba(24, 44, 74, 0.05);
          box-shadow: 0 20px 40px rgba(24, 44, 74, 0.05);
}
.courses_section .boxs .box .iamge img {
  border-radius: 10px;
  width: 100%;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
}
.courses_section .boxs .box .text {
  padding: 10px;
}
.courses_section .boxs .box .text .title_box {
  margin-bottom: 3px;
  font-size: 22px;
}
.courses_section .boxs .box .text .desc {
  color: gray;
  margin-bottom: 0;
}
.courses_section .boxs .box .bottom_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  border-top: 1px solid rgba(20, 3, 66, 0.07);
}
.courses_section .boxs .box .bottom_box .num_leasons {
  color: gray;
}
.courses_section .boxs .box .bottom_box .price {
  font-size: 20px;
  margin-bottom: 0;
  color: #4f9ed6;
  font-weight: 600;
}
.courses_section .bottom {
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .courses_section .head .title {
    font-size: 20px;
  }
  .courses_section .filter {
    row-gap: 5px;
  }
  .courses_section .filter .btn_filter {
    font-size: 14px;
  }
  .courses_section .boxs.grid {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 30px;
  }
  .courses_section .boxs .box .iamge img {
    height: 230px;
  }
  .courses_section .boxs .box .text .title_box {
    font-size: 20px;
  }
  .courses_section .boxs .box .text .desc {
    font-size: 14px;
  }
}
.top_category_section .head {
  text-align: center;
}
.top_category_section .head .title {
  font-size: 30px;
  font-weight: 700;
}
.top_category_section .head .desc {
  color: gray;
}
.top_category_section .boxs {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 30px;
}
.top_category_section .boxs .box {
  padding: 40px 30px;
  border-radius: 8px;
  background-image: url(../images/category1.png);
  background-position: center;
  background-size: cover;
  height: 200px;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.top_category_section .boxs .box:nth-child(2) {
  background-image: url(../images/category2.png);
}
.top_category_section .boxs .box:nth-child(3) {
  background-image: url(../images/category3.png);
}
.top_category_section .boxs .box:nth-child(4) {
  background-image: url(../images/category4.png);
}
.top_category_section .boxs .box:nth-child(5) {
  background-image: url(../images/category5.png);
}
.top_category_section .boxs .box:nth-child(6) {
  background-image: url(../images/category6.png);
}
.top_category_section .boxs .box .text h4 {
  font-size: 19px;
  margin-bottom: 0;
}
.top_category_section .boxs .box .text .num_courses {
  font-size: 14px;
  color: gray;
}

@media (max-width: 768px) {
  .top_category_section .head .title {
    font-size: 22px;
    margin-bottom: 0;
  }
  .top_category_section .head .desc {
    font-size: 14px;
  }
  .top_category_section .boxs {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 15px;
  }
  .top_category_section .boxs .box {
    padding: 20px;
    height: 140px;
  }
}
@-webkit-keyframes cir360 {
  0% {
    rotate: 360deg;
  }
}
@keyframes cir360 {
  0% {
    rotate: 360deg;
  }
}
@-webkit-keyframes fade-up {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}
@keyframes fade-up {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}
@-webkit-keyframes fade-left {
  0% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}
@keyframes fade-left {
  0% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}
@-webkit-keyframes animation-popup-5 {
  0% {
    -webkit-transform: scale(0.2) rotate(0deg);
            transform: scale(0.2) rotate(0deg);
  }
  40% {
    -webkit-transform: scale(0.5) rotate(180deg);
            transform: scale(0.5) rotate(180deg);
  }
  80% {
    -webkit-transform: scale(1) rotate(360deg);
            transform: scale(1) rotate(360deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(360deg);
            transform: scale(1) rotate(360deg);
  }
}
@keyframes animation-popup-5 {
  0% {
    -webkit-transform: scale(0.2) rotate(0deg);
            transform: scale(0.2) rotate(0deg);
  }
  40% {
    -webkit-transform: scale(0.5) rotate(180deg);
            transform: scale(0.5) rotate(180deg);
  }
  80% {
    -webkit-transform: scale(1) rotate(360deg);
            transform: scale(1) rotate(360deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(360deg);
            transform: scale(1) rotate(360deg);
  }
}
.sign_section {
  height: 100vh;
}
.sign_section .container {
  height: 100%;
}
.sign_section .line {
  height: 100%;
}
.sign_section .line .image_sign {
  background-color: #140342;
  color: white;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sign_section .line .image_sign img {
  width: 80%;
}
.sign_section .line .form {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px;
}
.sign_section .line .form form {
  max-width: 450px;
  width: 100%;
}
.sign_section .line .form form .title {
  text-align: center;
  font-weight: 700;
  margin-bottom: 30px;
}
.sign_section .line .form form .input_item {
  margin-bottom: 20px;
}
.sign_section .line .form form .input_item label {
  font-size: 17px;
  font-weight: 600;
}
.sign_section .line .form form .input_item input {
  padding: 10px 12px;
  outline: none;
  border: 1px solid rgb(212, 212, 212);
  width: 100%;
  border-radius: 8px;
}
.sign_section .line .form form .btn_submit {
  padding: 10px 20px;
  width: 100%;
  border-radius: 8px;
}
.sign_section .line .form form .link {
  font-size: 15px;
  color: gray;
  text-align: center;
  margin-top: 8px;
}
.sign_section .line .form form .link a {
  color: #4f9ed6 !important;
}

@media (max-width: 768px) {
  .sign_section .line {
    display: block;
  }
  .sign_section .line .content_image {
    height: 300px;
  }
  .sign_section .line .image_sign {
    margin-bottom: 20px;
    height: 100%;
  }
  .sign_section .line .image_sign img {
    height: 100%;
  }
  .sign_section .line .form form .input_item {
    margin-bottom: 12px;
  }
  .sign_section .line .form form .input_item label {
    font-size: 15px;
  }
  .sign_section .line .form form .input_item input {
    padding: 8px 10px;
  }
  .sign_section .line .form form .link {
    font-size: 14px;
  }
}
.course_details_section {
  padding-top: 80px;
  padding-bottom: 20px;
  position: relative;
}
.course_details_section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background-color: #140342;
  z-index: -1;
}
.course_details_section .line .top_details {
  color: white;
  padding-bottom: 50px;
}
.course_details_section .line .top_details .title {
  font-weight: 700;
  font-size: 35px;
}
.course_details_section .line .top_details .desc {
  max-width: 500px;
  color: gray;
}
.course_details_section .line .top_details .info_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.course_details_section .line .top_details .info_details .profile img {
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50%;
}
.course_details_section .line .video_course {
  margin-bottom: 10px;
}
.course_details_section .line .video_course iframe {
  width: 100%;
  height: 400px;
}
.course_details_section .line .text h4,
.course_details_section .line .text h5 {
  font-weight: 700;
}
.course_details_section .line .text .desc_course {
  line-height: 1.7;
  color: rgb(73, 73, 73);
  font-weight: 500;
}
.course_details_section .line .text .list {
  margin-bottom: 20px;
}
.course_details_section .line .text .list .item {
  display: block;
  color: rgb(73, 73, 73);
  font-weight: 500;
}
.course_details_section .line .text .list .item:not(:last-child) {
  margin-bottom: 10px;
}
.course_details_section .line .curriculum {
  margin-top: 30px;
  border: 1px solid;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 8px;
}
.course_details_section .line .curriculum h4 {
  padding: 15px;
  border-bottom: 1px solid rgb(223, 223, 223);
  background-color: #eff1f6;
}
.course_details_section .line .curriculum .leactures {
  padding: 15px;
}
.course_details_section .line .curriculum .leactures .leacture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.course_details_section .line .curriculum .leactures .leacture:not(:last-child) {
  margin-bottom: 12px;
}
.course_details_section .line .curriculum .leactures .leacture h6 {
  margin-bottom: 0;
  font-size: 18px;
}
.course_details_section .line .curriculum .leactures .leacture .icon_leacture {
  color: #adb4c6;
  font-size: 18px;
}
.course_details_section .line .box_enroll {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgb(221, 221, 221);
  max-width: 320px;
  margin: auto;
}
.course_details_section .line .box_enroll .items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 4px;
  border-bottom: 1px solid rgb(227, 227, 227);
}
.course_details_section .line .box_enroll .items .item:not(:last-child) {
  margin-bottom: 8px;
}
.course_details_section .line .box_enroll .items .item span {
  font-size: 15px;
  color: gray;
}
.course_details_section .line .box_enroll .btn_enroll {
  text-align: center;
  display: block;
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .course_details_section .line .top_details .title {
    font-size: 22px;
  }
  .course_details_section .line .top_details .desc {
    font-size: 14px;
  }
  .course_details_section .line .top_details .info_details .profile img {
    width: 35px;
    height: 35px;
  }
  .course_details_section .line .video_course iframe {
    height: 300px;
  }
  .course_details_section .line .text h4,
.course_details_section .line .text h5 {
    margin-bottom: 4px;
  }
  .course_details_section .line .text h5 {
    font-size: 18px;
  }
  .course_details_section .line .text .desc_course {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 7px;
  }
  .course_details_section .line .text .list {
    margin-bottom: 15px;
  }
  .course_details_section .line .text .list .item {
    font-size: 14px;
  }
  .course_details_section .line .text .list .item:not(:last-child) {
    margin-bottom: 5px;
  }
  .course_details_section .line .curriculum {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .course_details_section .line .curriculum h4 {
    padding: 8px;
    font-size: 18px;
    margin-bottom: 0;
  }
  .course_details_section .line .curriculum .leactures {
    padding: 8px;
  }
  .course_details_section .line .box_enroll {
    max-width: 100%;
    padding: 15px;
  }
}
.contact_section {
  padding: 60px 0;
}
.contact_section .subtitle {
  font-size: 22px;
  font-weight: 600;
  color: #4f9ed6;
  position: relative;
  padding: 0 10px;
  text-align: center;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.contact_section .subtitle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #4f9ed6;
}
.contact_section .subtitle::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #4f9ed6;
}
.contact_section .title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}
.contact_section .desc {
  margin-bottom: 0;
  color: gray;
  text-align: center;
  max-width: 500px;
  margin: 0 auto 0;
}
.contact_section .line {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  max-width: 1100px;
  margin: auto;
}
.contact_section .line .left {
  width: 65%;
}
.contact_section .line .left form {
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 69, 255, 0.12);
          box-shadow: 0px 10px 20px 0px rgba(0, 69, 255, 0.12);
  padding: 30px;
  border-radius: 15px;
}
.contact_section .line .left form h4 {
  font-size: 25px;
  margin-bottom: 8px;
  font-weight: 700;
}
.contact_section .line .left form p {
  margin-bottom: 20px;
  color: gray;
  font-weight: 500;
}
.contact_section .line .left form input,
.contact_section .line .left form textarea {
  padding: 12px;
  width: 100%;
  border: none;
  outline: none;
  background-color: rgb(238, 238, 238);
  color: rgb(105, 105, 105);
  margin-bottom: 20px;
}
.contact_section .line .left form textarea {
  height: 200px;
}
.contact_section .line .left form .btn_send {
  border: none;
  color: white;
  background-color: #4f9ed6;
  padding: 10px 30px;
  border-radius: 8px;
  font-weight: 500;
}
.contact_section .line .right {
  width: 35%;
}
.contact_section .line .right .boxs .box {
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 69, 255, 0.12);
          box-shadow: 0px 10px 20px 0px rgba(0, 69, 255, 0.12);
  padding: 30px;
  border-radius: 15px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.contact_section .line .right .boxs .box:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.contact_section .line .right .boxs .box:not(:last-child) {
  margin-bottom: 20px;
}
.contact_section .line .right .boxs .box .icon {
  background: #4f9ed6;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
}
.contact_section .line .right .boxs .box .icon i {
  color: white;
  font-size: 23px;
}
.contact_section .line .right .boxs .box .text h5 {
  font-weight: 700;
}
.contact_section .line .right .boxs .box .text span {
  font-weight: 500;
  color: gray;
  display: block;
}

@media (max-width: 768px) {
  .contact_section {
    padding: 30px 0;
  }
  .contact_section .subtitle {
    font-size: 17px;
  }
  .contact_section .subtitle::after, .contact_section .subtitle::before {
    width: 6px;
    height: 6px;
  }
  .contact_section .title {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .contact_section .desc {
    font-size: 13px;
  }
  .contact_section .line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .contact_section .line .left,
.contact_section .line .right {
    width: 100%;
  }
  .contact_section .line .left form {
    padding: 15px;
  }
  .contact_section .line .left form h4 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 3px;
  }
  .contact_section .line .left form p {
    margin-bottom: 15px;
    font-size: 12px;
  }
  .contact_section .line .left form input,
.contact_section .line .left form textarea {
    padding: 7px 10px;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .contact_section .line .left form .btn_send {
    padding: 5px 20px;
    font-size: 13px;
    border-radius: 4px;
  }
  .contact_section .line .right .boxs .box {
    padding: 13px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    gap: 8px;
  }
  .contact_section .line .right .boxs .box .icon {
    width: 45px;
    height: 45px;
  }
  .contact_section .line .right .boxs .box .icon i {
    font-size: 18px;
  }
  .contact_section .line .right .boxs .box .text h5 {
    font-size: 18px;
  }
  .contact_section .line .right .boxs .box .text span {
    font-size: 13px;
  }
}
.map_location {
  margin: 20px 0;
}
.map_location .container {
  height: 400px;
}
.map_location iframe {
  width: 100%;
  height: 100%;
}

.blog_section .boxs {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 30px;
}
.blog_section .boxs .box:hover .image img {
  scale: 1.1;
}
.blog_section .boxs .box .image {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 10px;
}
.blog_section .boxs .box .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.blog_section .boxs .box .content .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-bottom: 8px;
}
.blog_section .boxs .box .content .details > div {
  color: #4f9ed6;
  font-size: 15px;
}
.blog_section .boxs .box .content .title {
  font-weight: 700;
  margin-bottom: 8px;
  max-width: 400px;
  font-size: 20px;
}
.blog_section .boxs .box .content .desc {
  font-size: 14px;
  color: gray;
  margin-bottom: 0;
}
.blog_section .bottom {
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .blog_section .boxs .box .image {
    height: 220px;
    margin-bottom: 7px;
  }
  .blog_section .boxs .box .content .title {
    font-size: 19px;
    margin-bottom: 5px;
  }
  .blog_section .boxs .box .content .desc {
    font-size: 13px;
  }
}
.blog_details {
  padding: 70px 0;
}
.blog_details .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.blog_details .line .left {
  width: 70%;
}
.blog_details .line .left .post_details .image {
  height: 450px;
  border-radius: 10px;
  margin-bottom: 15px;
  overflow: hidden;
}
.blog_details .line .left .post_details .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog_details .line .left .post_details .content .title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: block;
}
.blog_details .line .left .post_details .content .meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}
.blog_details .line .left .post_details .content .meta li {
  list-style: none;
}
.blog_details .line .left .post_details .content .meta li i {
  margin-right: 5px;
  color: #4f9ed6;
}
.blog_details .line .left .post_details .content .desc {
  line-height: 1.4;
  color: gray;
}
.blog_details .line .left .post_details .content .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0;
}
.blog_details .line .left .post_details .content .images img {
  width: 100%;
  height: 300px;
  border-radius: 8px;
}
.blog_details .line .left .post_details .content .social_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.blog_details .line .left .post_details .content .social_media a i {
  color: #4f9ed6;
}
.blog_details .line .left .post_details .written_by {
  background-color: #e1e9f8;
  padding: 25px;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.blog_details .line .left .post_details .written_by img {
  border-radius: 8px;
  height: 160px;
  width: 160px;
  min-width: 160px;
}
.blog_details .line .left .post_details .written_by .writte {
  color: #4f9ed6;
  font-size: 15px;
}
.blog_details .line .left .post_details .written_by p {
  color: gray;
}
.blog_details .line .left .post_details .written_by .social_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.blog_details .line .left .post_details .written_by .social_media a {
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
  background-color: #4f9ed6;
}
.blog_details .line .left .post_details .written_by .social_media a i {
  color: white;
}
.blog_details .line .right {
  width: 30%;
}
.blog_details .line .right .search_box {
  padding: 30px;
  border-radius: 10px;
  background-color: #f3f7fe;
  margin-bottom: 30px;
  z-index: 100;
  position: relative;
}
.blog_details .line .right .search_box h4 {
  margin-bottom: 20px;
  position: relative;
}
.blog_details .line .right .search_box h4::before {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 0;
  width: 80px;
  height: 3px;
  background-color: #4f9ed6;
}
.blog_details .line .right .search_box .search_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.blog_details .line .right .search_box .search_input input {
  width: 100%;
  border: none;
  height: 40px;
  outline: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0 10px;
}
.blog_details .line .right .search_box .search_input button {
  background: linear-gradient(45deg, #8785f1 0%, #4f9ed6 100%);
  height: 40px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: white;
  border: none;
  padding: 0 20px;
}
.blog_details .line .right .search_box .box_result {
  position: absolute;
  top: 41px;
  left: 0;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  padding: 8px;
  display: none;
}
.blog_details .line .right .search_box .box_result.active {
  display: block;
}
.blog_details .line .right .search_box .box_result .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.blog_details .line .right .search_box .box_result .item:not(:last-child) {
  margin-bottom: 10px;
}
.blog_details .line .right .search_box .box_result .item img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.blog_details .line .right .search_box .box_result .item span {
  font-size: 14px;
  color: gray;
}
.blog_details .line .right .recent_box {
  padding: 30px;
  border-radius: 10px;
  background-color: #f3f7fe;
  margin-bottom: 30px;
}
.blog_details .line .right .recent_box h4 {
  margin-bottom: 20px;
  position: relative;
}
.blog_details .line .right .recent_box h4::before {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 0;
  width: 80px;
  height: 3px;
  background-color: #4f9ed6;
}
.blog_details .line .right .recent_box .recent_post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.blog_details .line .right .recent_box .recent_post:not(:last-child) {
  margin-bottom: 15px;
}
.blog_details .line .right .recent_box .recent_post img {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog_details .line .right .recent_box .recent_post h5 {
  font-size: 16px;
}
.blog_details .line .right .recent_box .recent_post .date {
  color: gray;
  font-size: 14px;
}
.blog_details .line .right .recent_box .recent_post .date i {
  margin-right: 4px;
}
.blog_details .line .right .category_box {
  padding: 30px;
  border-radius: 10px;
  background-color: #f3f7fe;
  margin-bottom: 30px;
}
.blog_details .line .right .category_box h4 {
  margin-bottom: 20px;
  position: relative;
}
.blog_details .line .right .category_box h4::before {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 0;
  width: 80px;
  height: 3px;
  background-color: #4f9ed6;
}
.blog_details .line .right .category_box .categorys .item {
  padding: 15px 30px;
  display: block;
  background: #e1e9f8;
  position: relative;
  font-size: 14px;
  border-radius: 6px;
}
.blog_details .line .right .category_box .categorys .item:hover span {
  background-color: #4f9ed6;
}
.blog_details .line .right .category_box .categorys .item:not(:last-child) {
  margin-bottom: 10px;
}
.blog_details .line .right .category_box .categorys .item span {
  position: absolute;
  left: 0;
  height: 100%;
  top: 0;
  width: 50px;
  text-align: center;
  line-height: 50px;
  font-weight: 700;
  border-radius: 0;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  background: #d4e1f9;
  z-index: 1;
  cursor: pointer;
}
.blog_details .line .right .popular_box {
  padding: 30px;
  border-radius: 10px;
  background-color: #f3f7fe;
}
.blog_details .line .right .popular_box h4 {
  margin-bottom: 20px;
  position: relative;
}
.blog_details .line .right .popular_box h4::before {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 0;
  width: 80px;
  height: 3px;
  background-color: #4f9ed6;
}
.blog_details .line .right .popular_box .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.blog_details .line .right .popular_box .tags .tag {
  display: block;
  background: #e1e9f8;
  font-size: 14px;
  padding: 0 12px;
  line-height: 35px;
  border-radius: 5px;
  height: 35px;
}

@media (max-width: 768px) {
  .blog_details {
    padding: 30px 0;
  }
  .blog_details .line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .blog_details .line > div {
    width: 100% !important;
  }
  .blog_details .line .left .post_details .image {
    height: 250px;
    margin-bottom: 8px;
  }
  .blog_details .line .left .post_details .content .title {
    font-size: 20px;
    margin-bottom: 7px;
  }
  .blog_details .line .left .post_details .content .meta {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 8px;
  }
  .blog_details .line .left .post_details .content .meta li i {
    font-size: 14px;
  }
  .blog_details .line .left .post_details .content .meta li span {
    font-size: 15px;
  }
  .blog_details .line .left .post_details .content .desc {
    font-size: 13px;
    margin-bottom: 5px;
  }
  .blog_details .line .left .post_details .content blockquote {
    margin-bottom: 5px;
    font-size: 13px;
  }
  .blog_details .line .left .post_details .content .images {
    margin: 10px 0;
    gap: 15px;
  }
  .blog_details .line .left .post_details .content .images img {
    height: 180px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .blog_details .line .left .post_details .content .social_media {
    gap: 8px;
    margin-top: 10px;
  }
  .blog_details .line .left .post_details .content .social_media i {
    font-size: 15px;
  }
  .blog_details .line .left .post_details .written_by {
    margin-top: 15px;
    padding: 15px;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .blog_details .line .left .post_details .written_by img {
    margin: auto;
    height: 75px;
    width: 75px;
    min-width: 75px;
    border-radius: 50%;
  }
  .blog_details .line .left .post_details .written_by .info .writte {
    font-size: 13px;
  }
  .blog_details .line .left .post_details .written_by .info h4 {
    margin-bottom: 2px;
    font-size: 19px;
  }
  .blog_details .line .left .post_details .written_by .info p {
    font-size: 13px;
  }
  .blog_details .line .left .post_details .written_by .info .social_media {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px;
    gap: 7px;
  }
  .blog_details .line .right .search_box,
.blog_details .line .right .recent_box,
.blog_details .line .right .category_box,
.blog_details .line .right .popular_box {
    padding: 15px !important;
  }
  .blog_details .line .right .search_box h4,
.blog_details .line .right .recent_box h4,
.blog_details .line .right .category_box h4,
.blog_details .line .right .popular_box h4 {
    margin-bottom: 13px !important;
    font-size: 20px !important;
  }
  .blog_details .line .right .search_box .search_input input,
.blog_details .line .right .search_box .search_input button {
    height: 35px !important;
  }
  .blog_details .line .right .recent_box .recent_post img {
    width: 70px;
    height: 60px;
  }
  .blog_details .line .right .recent_box .recent_post h5 {
    font-size: 15px;
    margin-bottom: 4px;
  }
  .blog_details .line .right .recent_box .recent_post .date {
    font-size: 13px;
  }
  .blog_details .line .right .category_box .categorys .item {
    padding: 10px 30px;
  }
}
.why_choose_us_section .head .subtitle {
  font-size: 20px;
  font-weight: 600;
  color: #4f9ed6;
}
.why_choose_us_section .head .title {
  font-size: 32px;
  font-family: 700;
}
.why_choose_us_section .head .title span {
  color: #4f9ed6;
}
.why_choose_us_section .boxs {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 30px;
  margin-top: 70px;
}
.why_choose_us_section .boxs .box {
  padding: 40px;
  border-radius: 10px;
  border: 1px solid #ededed;
}
.why_choose_us_section .boxs .box .head_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  margin-bottom: 22px;
}
.why_choose_us_section .boxs .box .head_box .icon {
  background-color: rgba(46, 163, 202, 0.2);
  width: 65px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}
.why_choose_us_section .boxs .box .head_box .icon i {
  font-size: 25px;
  color: black;
}
.why_choose_us_section .boxs .box .head_box .title {
  font-weight: 700;
}
.why_choose_us_section .boxs .box .desc {
  margin-bottom: 0;
  font-size: 17px;
  color: gray;
}

@media (max-width: 768px) {
  .why_choose_us_section .head {
    text-align: center;
  }
  .why_choose_us_section .head .subtitle {
    font-size: 16px;
  }
  .why_choose_us_section .head .title {
    font-size: 24px;
  }
  .why_choose_us_section .boxs {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 40px;
  }
  .why_choose_us_section .boxs .box {
    padding: 20px;
  }
  .why_choose_us_section .boxs .box .head_box {
    margin-bottom: 10px;
  }
  .why_choose_us_section .boxs .box .head_box .icon {
    width: 45px;
    height: 45px;
  }
  .why_choose_us_section .boxs .box .head_box .icon i {
    font-size: 20px;
  }
  .why_choose_us_section .boxs .box .head_box .title {
    font-size: 18px;
  }
  .why_choose_us_section .boxs .box .desc {
    font-size: 14px;
  }
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden !important;
}

body {
  scroll-behavior: smooth;
  font-family: "Cairo", sans-serif !important;
  overflow-x: hidden !important;
  direction: rtl !important;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

p {
  margin-bottom: 0;
}

svg {
  width: 20px;
}

::-webkit-scrollbar {
  width: 7px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(218, 218, 218);
  border-radius: 15px;
}

.btn_fill {
  padding: 5px 20px;
  color: white !important;
  background-color: #4f9ed6;
  color: white;
  border-radius: 50px;
  border: none;
}

.btn_outline {
  padding: 4px 20px;
  color: #4f9ed6 !important;
  background-color: transparent;
  border: 1px solid #4f9ed6 !important;
  color: white;
  border-radius: 50px;
  border: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.btn_outline:hover {
  background-color: #4f9ed6;
  color: white !important;
}

main {
  position: relative;
  background-image: url(../images/banner-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.line_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.line_section > div {
  width: 50%;
}

.section {
  padding: 70px 0;
}

@media (max-width: 768px) {
  .btn_fill,
.btn_outline {
    padding: 4px 15px;
    font-size: 13px;
  }
  .section {
    padding: 35px 0;
  }
  .line_section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .line_section > div {
    width: 100%;
  }
}