@import "./variables";

// start footer
footer {
  padding: 40px 0 10px;
  background-color: rgb(4 5 9);
  color: white;

  .line {
    margin-bottom: 30px;
    justify-content: space-between;
    .logo {
      img {
        width: 90px;
      }
    }

    .desc {
      font-size: 15px;
      line-height: 1.5;
      color: gray;
      margin-bottom: 0;
    }

    .btn_about {
      font-size: 17px;
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 10px;

      span {
        width: 35px;
        height: 35px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid white;

        i {
          color: $primary-color;
          font-size: 15px;
        }
      }
    }

    h4 {
      margin-bottom: 20px;
      font-size: 23px;
    }

    .contact {
      .item {
        display: flex;
        align-items: center;
        gap: 10px;

        &:not(:last-child) {
          margin-bottom: 12px;
        }

        h6 {
          margin-bottom: 0;
        }

        span {
          color: $primary-color;
        }
      }
    }

    .social_media {
      display: flex;
      align-items: center;
      gap: 15px;

      a {
        i {
          font-size: 14px;
        }
      }
    }
  }

  .bottom_footer {
    padding-top: 15px;
    border-top: 1px solid gray;

    p {
      margin-bottom: 0;
      font-weight: 600;
      font-size: 15px;
    }
  }
}

@media (max-width: 768px) {
  footer {
    padding: 30px 0 20px;
    text-align: center;

    .line {
      margin-bottom: 20px;

      .logo {
        img {
          width: 140px;
        }
      }

      .desc {
        font-size: 13px;
      }

      .contact {
        .item {
          justify-content: center;
          flex-direction: column;
          text-align: center;
          gap: 5px;
        }
      }

      .social_media {
        justify-content: center;
      }
    }

    .bottom_footer {
      p {
        font-size: 12px;
      }
    }
  }
}
// end footer
