@import "../components/variables";

// start why_choose_us_section
.why_choose_us_section {
  .head {
    .subtitle {
      font-size: 20px;
      font-weight: 600;
      color: $primary-color;
    }

    .title {
      font-size: 32px;
      font-family: 700;

      span {
        color: $primary-color;
      }
    }
  }

  .boxs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
    margin-top: 70px;

    .box {
      padding: 40px;
      border-radius: 10px;
      border: 1px solid #ededed;

      .head_box {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 22px;

        .icon {
          background-color: rgb(46 163 202 / 20%);
          width: 65px;
          height: 65px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;

          i {
            font-size: 25px;
            color: black;
          }
        }

        .title {
          font-weight: 700;
        }
      }

      .desc {
        margin-bottom: 0;
        font-size: 17px;
        color: gray;
      }
    }
  }
}

@media (max-width: 768px) {
  .why_choose_us_section {
    .head {
      text-align: center;
      .subtitle {
        font-size: 16px;
      }

      .title {
        font-size: 24px;
      }
    }

    .boxs {
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
      gap: 20px;
      margin-top: 40px;

      .box {
        padding: 20px;

        .head_box {
          margin-bottom: 10px;
          .icon {
            width: 45px;
            height: 45px;

            i {
              font-size: 20px;
            }
          }

          .title {
            font-size: 18px;
          }
        }

        .desc {
          font-size: 14px;
        }
      }
    }
  }
}
// end why_choose_us_section
