@import "../components/variables";

// start hero section
.hero_section {
  height: calc(100vh - 52px);

  .container {
    height: 100%;
  }

  .line {
    align-items: center;
    height: 100%;

    .text {
      .subtitle {
        font-size: 18px;
        color: $primary-color;
      }

      .title {
        font-size: 70px;
        font-weight: 700;
      }

      .desc {
        font-size: 17px;
        line-height: 1.8;
        color: gray;
      }

      .btns {
        a,
        button {
          padding: 8px 30px;
        }
      }
    }

    .image {
      text-align: center;
      animation: fade-up 3s linear infinite;

      img {
        width: 90%;
      }
    }
  }

  .info_icon {
    position: absolute;
    top: 100px;
    left: 100px;
    animation: animation-popup-5 3s linear 0s infinite alternate;
  }
}

@media (max-width: 768px) {
  .hero_section {
    .line {
      justify-content: center;
      .text {
        text-align: center;

        .subtitle {
          font-size: 15px;
        }

        .title {
          font-size: 35px;
        }

        .desc {
          font-size: 14px;
          line-height: 1.5;
        }

        .btns {
          justify-content: center;

          a,
          button {
            padding: 4px 15px;
          }
        }
      }
    }
  }
}
// end hero section

// start about_section
.about_section {
  .line {
    .text {
      .subtitle {
        font-size: 18px;
        color: $primary-color;
      }

      .title {
        font-weight: 700;
      }

      .desc {
        line-height: 1.6;
        color: rgb(104, 104, 104);
      }

      .features {
        .feature {
          display: flex;
          align-items: center;
          gap: 15px;

          &:not(:last-child) {
            margin-bottom: 20px;
          }

          .icon {
            width: 55px;
            min-width: 55px;
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $primary-color;
            color: white;
            border-radius: 50%;

            i {
              font-size: 25px;
            }
          }

          .info {
            h5 {
              margin-bottom: 0;
              font-size: 22px;
            }

            p {
              margin-bottom: 0;
              font-size: 15px;
              color: gray;
            }
          }
        }
      }
    }

    .image {
      text-align: center;
      img {
        width: 90%;
      }
    }
  }
}

@media (max-width: 678px) {
  .about_section {
    .line {
      .text {
        text-align: center;

        .subtitle {
          font-size: 15px;
        }

        .title {
          font-size: 23px;
        }

        .desc {
          font-size: 14px;
        }

        .features {
          .feature {
            flex-direction: column;
            justify-content: center;

            .icon {
              width: 45px;
              min-width: 45px;
              height: 45px;
            }

            .info {
              h5 {
                font-size: 18px;
              }

              p {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
}
// end about_section

// start courses_section
.courses_section {
  background-color: #f6f9fb;
  .head {
    .title {
      font-weight: 700;
    }
  }

  .filter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    font-size: 18px;

    .btn_filter {
      background-color: transparent;
      border: none;
      font-weight: 600;
      padding-bottom: 0px;

      &.active {
        border-bottom: 2px solid $primary-color;
      }
    }
  }

  .boxs {
    padding-top: 20px;

    &.grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      gap: 30px;
    }

    .owl-nav {
      display: none;
    }

    .box {
      background-color: white;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 20px 40px rgba(24, 44, 74, 0.05);

      .iamge {
        img {
          border-radius: 10px;
          width: 100%;
          height: 260px;
          object-fit: cover;
        }
      }

      .text {
        padding: 10px;

        .title_box {
          margin-bottom: 3px;
          font-size: 22px;
        }

        .desc {
          color: gray;
          margin-bottom: 0;
        }
      }

      .bottom_box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-top: 1px solid rgba(20, 3, 66, 0.07);

        .num_leasons {
          color: gray;
        }

        .price {
          font-size: 20px;
          margin-bottom: 0;
          color: $primary-color;
          font-weight: 600;
        }
      }
    }
  }

  .bottom {
    text-align: center;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .courses_section {
    .head {
      .title {
        font-size: 20px;
      }
    }

    .filter {
      row-gap: 5px;

      .btn_filter {
        font-size: 14px;
      }
    }

    .boxs {
      &.grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
        gap: 30px;
      }

      .box {
        .iamge {
          img {
            height: 230px;
          }
        }

        .text {
          .title_box {
            font-size: 20px;
          }

          .desc {
            font-size: 14px;
          }
        }
      }
    }
  }
}
// end courses_section

// start top_category_section
.top_category_section {
  .head {
    text-align: center;

    .title {
      font-size: 30px;
      font-weight: 700;
    }

    .desc {
      color: gray;
    }
  }

  .boxs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;

    .box {
      padding: 40px 30px;
      border-radius: 8px;
      background-image: url(../images/category1.png);
      background-position: center;
      background-size: cover;
      height: 200px;
      color: white;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;

      &:nth-child(2) {
        background-image: url(../images/category2.png);
      }

      &:nth-child(3) {
        background-image: url(../images/category3.png);
      }
      &:nth-child(4) {
        background-image: url(../images/category4.png);
      }
      &:nth-child(5) {
        background-image: url(../images/category5.png);
      }
      &:nth-child(6) {
        background-image: url(../images/category6.png);
      }

      .text {
        h4 {
          font-size: 19px;
          margin-bottom: 0;
        }

        .num_courses {
          font-size: 14px;
          color: gray;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .top_category_section {
    .head {
      .title {
        font-size: 22px;
        margin-bottom: 0;
      }

      .desc {
        font-size: 14px;
      }
    }

    .boxs {
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
      gap: 15px;

      .box {
        padding: 20px;
        height: 140px;
      }
    }
  }
}
// end top_category_section

// animation
@keyframes cir360 {
  0% {
    rotate: 360deg;
  }
}

@keyframes fade-up {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(20px);
  }
}

@keyframes animation-popup-5 {
  0% {
    transform: scale(0.2) rotate(0deg);
  }

  40% {
    transform: scale(0.5) rotate(180deg);
  }
  80% {
    transform: scale(1) rotate(360deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
